<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="books">
    <select id="queryBooksPaged" resultType="com.ycz.pojo.Book" parameterType="map">
       select book_id,name,author,publish,ISBN,introduction,language,
       price,pub_date,class_id,number from book_info 
       <where>
          <if test="queryText!=null">
             and name like concat('%',#{queryText},'%')
          </if>
          <if test="queryText!=null">
             or author like concat('%',#{queryText},'%')
          </if>
          <if test="queryText!=null">
             or publish like concat('%',#{queryText},'%')
          </if>
       </where>
       order by add_time desc 
       limit #{start},#{size}
    </select>
    
    <select id="countBooks" resultType="com.ycz.pojo.Book" parameterType="map">
       select * from book_info
       <where>
          <if test="queryText!=null">
             and name like concat('%',#{queryText},'%')
          </if>
          <if test="queryText!=null">
             or author like concat('%',#{queryText},'%')
          </if>
          <if test="queryText!=null">
             or publish like concat('%',#{queryText},'%')
          </if>
       </where>
    </select>
    
    <!-- 按照id查询书籍 -->
    <select id="queryBook" resultType="com.ycz.pojo.Book" parameterType="long">
       select * from book_info where book_id=#{bookId}
    </select>
    
    <!-- 添加书籍 -->
    <insert id="addBook" parameterType="com.ycz.pojo.Book">
       insert into book_info(
       name,author,publish,ISBN,introduction,language,price,pub_date,class_id,number,add_time
       ) values(
       #{name},#{author},#{publish},#{ISBN},#{introduction},
       #{language},#{price},#{pubDate},#{classId},#{number},#{addTime}
       )
    </insert>
    
    <!-- 修改书籍信息 -->
    <update id="editBook" parameterType="com.ycz.pojo.Book">
      update book_info
      set name=#{name},author=#{author},publish=#{publish},ISBN=#{ISBN},
      introduction=#{introduction},language=#{language},price=#{price},
      pub_date=#{pubDate},class_id=#{classId},number=#{number}
      where book_id=#{bookId}
    </update>
    
    <!-- 删除书籍 -->
    <delete id="deleteBook" parameterType="long">
      delete from book_info where book_id=#{bookId}
    </delete>
    
    <!-- 查询所有书籍 -->
    <select id="queryAllBooks" resultType="com.ycz.pojo.Book">
       select book_id,name,author,publish,ISBN,introduction,language,
       price,pub_date,class_id,number from book_info 
    </select>
</mapper>