<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="books">
    <select id="queryBooksPaged" resultType="com.ycz.pojo.Book" parameterType="map">
       select book_id,name,author,publish,ISBN,introduction,language,
       price,pub_date,class_id,number from book_info 
       limit #{start},#{size}
    </select>
    
    <select id="countBooks" resultType="com.ycz.pojo.Book">
       select count(*) from book_info
    </select>
</mapper>