<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readers">
    <select id="countReaders" resultType="com.ycz.pojo.ReaderInfo">
       select reader_id,name,sex,birth,address,phone from reader_info
      <where>
          <if test="queryText!=null">
             and name like concat('%',#{queryText},'%')
          </if>
           <if test="queryText!=null">
             or sex = #{queryText}
          </if>
           <if test="queryText!=null">
             or address like concat('%',#{queryText},'%')
          </if>
       </where>
    </select>
    
    <select id="queryReadersPaged" resultType="com.ycz.pojo.ReaderInfo" parameterType="map">
       select reader_id,name,sex,birth,address,phone from reader_info
       <where>
          <if test="queryText!=null">
             and name like concat('%',#{queryText},'%')
          </if>
           <if test="queryText!=null">
             or sex = #{queryText}
          </if>
           <if test="queryText!=null">
             or address like concat('%',#{queryText},'%')
          </if>
       </where>
       order by add_time desc
        limit #{start},#{size}
    </select>
    
    <!-- 按照ID查询 -->
    <select id="queryReader" resultType="com.ycz.pojo.ReaderInfo" parameterType="long">
       select * from reader_info where reader_id=#{readerId}
    </select>
    
    <!-- 修改 -->
    <update id="editReader" parameterType="com.ycz.pojo.ReaderInfo">
       update reader_info set name=#{name},sex=#{sex},birth=#{birth},
       address=#{address},phone=#{phone} where reader_id=#{readerId}
    </update>
    
    <!-- 删除 -->
    <delete id="deleteReader" parameterType="long">
      delete from reader_info where reader_id=#{readerId}
    </delete>
    
    <!-- 同时删除账号信息 -->
    <delete id="deleteReaderCard" parameterType="long">
      delete from reader_card where reader_id=#{readerId}
    </delete>
    
    <!-- 添加读者 -->
    <insert id="addReaderInfo" parameterType="com.ycz.pojo.ReaderInfo">
       insert into reader_info (
       name,sex,birth,address,phone,add_time) values (
       #{name},#{sex},#{birth},#{address},#{phone},#{addTime}
       )
    </insert>
    
    <!-- 同时添加读者账号信息 -->
    <insert id="addReaderCard" parameterType="com.ycz.pojo.ReaderCard">
        insert into reader_card (username,password) values(#{username},#{password})
    </insert>
    
    <!-- 统计指定读者借阅的书籍数量 -->
    <select id="countBooksReader" resultType="com.ycz.pojo.Book" parameterType="map">
       select ser_num,book_id,reader_id,lend_date,back_date from lend_list
       where reader_id=#{readerId}
    </select>
    
    <!-- 分页查询，多表连接 -->
    <select id="queryBooksReader" resultMap="reader_book" statementType="PREPARED">
        select l.reader_id lrid,b.name bname,b.author bauthor,b.publish bpublish,b.ISBN bISBN,
        b.price bprice,b.number bnumber from book_info b
        inner join lend_list l 
        on b.book_id = l.book_id
        where l.reader_id = #{readerId}
        limit #{start},#{size}
    </select>
    
    <!-- 一对一映射 -->
    <resultMap type="com.ycz.pojo.Lend" id="reader_book" autoMapping="false">
       <id column="lrid" property="readerId" javaType="long" jdbcType="BIGINT"/>
       <collection property="books" ofType="com.ycz.pojo.Book" autoMapping="false">
          <result column="bname" property="name" javaType="string" jdbcType="VARCHAR"/>
          <result column="bauthor" property="author" javaType="string" jdbcType="VARCHAR"/>
          <result column="bpublish" property="publish" javaType="string" jdbcType="VARCHAR"/>
          <result column="bISBN" property="ISBN" javaType="string" jdbcType="VARCHAR"/>
          <result column="bprice" property="price" javaType="double" jdbcType="DOUBLE"/>
          <result column="bnumber" property="number" javaType="int" jdbcType="INTEGER"/>
       </collection>
    </resultMap>
</mapper>
