<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    <!-- 开启自动包扫描 -->
    <context:component-scan base-package="com.ycz.*">
       <!-- 只扫描控制层 -->
       <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
    <!-- 注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 静态资源放行 -->
    <mvc:default-servlet-handler/>
    
    <!-- 配置拦截器 -->
    <mvc:interceptors>
       <!-- 登录拦截器 -->
       <mvc:interceptor>
           <!-- 配置拦截路径 -->
           <mvc:mapping path="/**"/>
           <!-- 配置放行的路径 -->
           <mvc:exclude-mapping path="/static/css/**"/>
           <mvc:exclude-mapping path="/static/img/**"/>
           <mvc:exclude-mapping path="/static/js/**"/>
           <mvc:exclude-mapping path="/static/layer/**"/>
           <mvc:exclude-mapping path="/login/login"/>
           <mvc:exclude-mapping path="/login/loginCheck"/>
           <bean class="com.ycz.web.LoginInterceptor"></bean>
       </mvc:interceptor>
    </mvc:interceptors>
    
    <!-- 配置内部资源视图解析器 -->
    <bean id="irvr" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
       <property name="prefix" value="/WEB-INF/jsp/"></property>
       <property name="suffix" value=".jsp"></property>
    </bean>
</beans>


